* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ======================================= */
/* -------------- Header ----------------- */
/* ======================================= */

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

/* ======================================= */
/* -------------- Player ----------------- */
/* ======================================= */
.player p {
  font-size: 20px;
  margin: 0;
}

.player__symbol {
  color: #9c29b7;
  font-weight: 700;
}

/* ======================================= */
/* --------------- Square ---------------- */
/* ======================================= */
.square table {
  margin: auto;
}

.square td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.square td.focus {
  background: #dddddd;
}